* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sigmar", serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #9ac08a;
  gap: 50px;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #575757;
  border-radius: 15px;
}

.display {
  border-bottom: 1px solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 30px 30px;

  input {
    background-color: #b5cab9;
    padding: 20px 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
  }
}


.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  margin: 0px 20px;
  gap: 20px;
  padding: 10px 4%;
}

.num,
.operator {
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  border: none;
  color: #343434;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
  width: 80px;
  display: flex;
  text-align: center;
  justify-content: center;

  &:hover {
    background-color: #78786a;
  }

  &:active {
    background-color: #5c5c50;
  }
}

.operator {
  color: #f2a54d;
  transition: 0.3;
  &:hover {
    background-color: #ad8e6a;
  }

  &:active {
    background-color: #d5964e;
  }
}

a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  color: #575757;
}

.inputValue {
  color: black;
  font-size: 20px;
}

/* responsividade */ 

@media screen and (max-width: 1200px){
  .metade {
    display: none;
  }
}


@media screen and (max-width: 768px){
  .metade {
    display: none;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #9ac08a;
    gap: 10px;
  }
  
  .calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #575757;
    border-radius: 15px;
  }
  
  .display {
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 20px 10px;
  
    input {
      background-color: #b5cab9;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: none;
      outline: none;
    }
  }
  
  
  .numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    margin: 0px 20px;
    gap: 5px;
    padding: 10px 4%;
  }
  

}

